
body{
    background-color:#e7e3d8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;
      }
#register .contsiner #register-row #register-column #egistr-box #regitr-form{

margin-top: 30px;
padding: 20px;
}
.form-control:focus{
  box-shadow: none;
  border-color: #ffbd09;
}
.profile-button{
  background-color: #e1a80c;
  box-shadow: none;
  border: none;
}
.profile-button:hover{
  background-color: rgb(99, 78, 50);
}
.labels{
  font-size: 11px;
}
